<!-- Página de base que serve de guia para adicionar novas páginas -->
{% extends 'portfolio/layout.html' %}

{% block page-title-head %}NOME_PAGINA{% endblock %}
{% block page-title-body %}NOME_PAGINA{% endblock %}

{% block css-block %}
    <!-- definir <style> aqui se necessário -->
{% endblock %}

{% block script-block %}
    <!-- definir <script> aqui se necessário -->
{% endblock %}

{% block main %}
    <!--
    <div class="text-aligned-center">
        <p>Bem-vindos!</p>
    </div>
    -->

{% endblock %}
