{% extends 'portfolio/layout.html' %}

{% block page-title-head %}Educação{% endblock %}
{% block page-title-body %}Educação{% endblock %}

{% block css-block %}
    <style>
        .texto-intro {
            margin-top: 10vh;
            margin-left: auto;
            margin-right: auto;
            max-width: 50vw;
            font-size: 1.4em;
        }

        /*
           DISCLAIMER: Esta estilização foi inspirada no Codepen para a Timeline, fornecido pelo Prof. Lúcio Studer.
            Link para o CSS de base: https://codepen.io/LucioStuder/pen/VwyjrBd. Créditos aos "rightful owners".
            Da base fornecida, adaptei um pouco as algumas cores a gosto, e as borders das caixas brancas.
            Uma vez mais, o meu agradecimento pela estilização-base fornecida; Foi útil para aplicar no projeto!
        */

        /* The actual timeline (the vertical ruler) */
        .timeline {
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
        }

        /* The actual timeline (the vertical ruler) */
        .timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: steelblue;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }

        /* Container around content */
        .container {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;
        }

        /* The circles on the timeline */
        .container::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: lightskyblue;
            border: 4px solid dodgerblue;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }

        /* Place the container to the left */
        .left {
            left: 0;
        }

        /* Place the container to the right */
        .right {
            left: 50%;
        }

        /* Add arrows to the left container (pointing right) */
        .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid white;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent silver;
        }

        /* Add arrows to the right container (pointing left) */
        .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent silver transparent;
        }

        /* Fix the circle for containers on the right side */
        .right::after {
            left: -16px;
        }

        /* The actual content */
        .content {
            padding: 20px 30px;
            background-color: white;
            position: relative;
            border-radius: 6px;
            border: 2px solid grey;
        }

        .content p {
            margin-bottom: 2vh;
        }

        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
            /* Place the timelime to the left */
            .timeline::after {
                left: 31px;
            }

            /* Full-width containers */
            .container {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }

            /* Make sure that all arrows are pointing leftwards */
            .container::before {
                left: 60px;
                border: medium solid white;
                border-width: 10px 10px 10px 0;
                border-color: transparent silver transparent transparent;
            }

            /* Make sure all circles are at the same spot */
            .left::after, .right::after {
                left: 15px;
            }

            /* Make all right containers behave like the left ones */
            .right {
                left: 0;
            }
        }

        #list-pontos-fortes {
            margin-left: 2vw;
            list-style-type: '✅';
        }

        #list-pontos-fracos {
            margin-left: 2vw;
            list-style-type: '❌';
        }

        #list-idiomas {
            margin-left: 2vw;
            list-style-type: square;
        }

        li {
            margin-bottom: 3vh;
        }

        /* *** */
    </style>
{% endblock %}

{% block script-block %}
    <!--
        <script>
        </script>
    -->
{% endblock %}

{% block main %}
    <div class="texto-intro">
        <h2>Formações</h2>
        <p>
            Aqui terão hipótese de conhecer um pouco mais do meu percurso académico até hoje 📚🎓
        </p>
        <p>
            Tenho a felicidade de dizer que sinto orgulho das minhas decisões até agora, relativamente às
            formações e instituições onde decidi investir para o meu futuro.
        </p>
        <br>
        <p>
            Cada uma destas etapas tem sido uma influência positiva no meu crescimento técnico e, acima de tudo,
            uma afirmação sobre o que realmente gosto de fazer e pretendo desempenhar profissionalmente após finalizar
            a minha Licenciatura.
        </p>
        <br>
    </div>
    <br>
    <div class="timeline">
        {% for formacao in formacoes %}
            {% if forloop.counter|divisibleby:2 %}
                <!--
                    Não me permitiu apenas distinguir unicamente a linha "container-right" / "container-left"
                    no output do If. Foi necessário repetir o ""código"" com o HTML :(
                 -->

                <!-- Elemento PAR => coloca-se à direita -->
                <div class="container right">
                    <div class="content">
                        <h2>{{ formacao.nome_curso }}</h2>
                        <hr>
                        <br>
                        <p>
                            {{ formacao.descricao_curso }}
                        </p>
                        <p>
                            <strong>Duração (ano início e fim): </strong>
                            {{ formacao.ano_inicio }} - {{ formacao.ano_conclusao }}
                        </p>
                        <p>
                            <strong>Local: </strong>
                            {{ formacao.local }}
                        </p>
                        <p>
                            <strong>
                                <a href="{{ formacao.link_instituicao }}">Link da Instituição</a>
                            </strong>
                        </p>
                    </div>
                </div>
            {% else %}
                <!-- Elemento IMPAR => coloca-se à esquerda -->
                <div class="container left">
                    <div class="content">
                        <h2>{{ formacao.nome_curso }}</h2>
                        <hr>
                        <br>
                        <p>
                            {{ formacao.descricao_curso }}
                        </p>
                        <p>
                            <strong>Duração (ano início e fim): </strong>
                            {{ formacao.ano_inicio }} - {{ formacao.ano_conclusao }}
                        </p>
                        <p>
                            <strong>Local: </strong>
                            {{ formacao.local }}
                        </p>
                        <p>
                            <strong>
                                <a href="{{ formacao.link_instituicao }}">Link da Instituição</a>
                            </strong>
                        </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <!-- Secção das Competências -->
    <div class="texto-intro">
        <h2>Aquilo que me destaca 😎</h2>
        <p>
            Durante todo este meu percurso e anos de vida, tive a sorte de ter a hipótese de aplicar a minha própria
            maneira de ser, e estilo de trabalhar em conjunto com a minha formação.
        </p>
        <p>
            Isto trouxe-me algumas vantagens (e desvantagens) sobre os meus métodos de trabalho, e de certa forma,
            influenciou alguns traços na minha personalidade.
        </p>
        <br>
        <h3>Pontos fortes:</h3>
        <br>
        <ul id="list-pontos-fortes">
            <li>
                Sou bastante dedicado e empenhado em <strong>tudo o que faço</strong>.
            </li>
            <li>
                Procuro <strong>entender, logo de início, todo o domínio e de forma clara o que tenho por fazer</strong>,
                para que possa logo de início coordenar todas as minhas eventuais tarefas a desempenhar,
                evitando situações constrangedoras de "Afinal não entendi...", "Afinal, como era para fazer isto?", etc.
            </li>
            <li>
                <strong>Espírito apurado de trabalho em equipa (<i>Team player</i>)</strong>:
                Já desde criança, quando tive o meu primeiro contacto com videojogos, me foi incutido o princípio
                que quando se trabalha em equipa, todos têm a ganhar se as tarefas forem claramente identificadas
                entre os membros, e exista uma permanente (e saudável) coordenação, pelo melhor e sucesso dos objetivos
                a atingir.
            </li>
            <li>
                <strong>Elevado sentido de responsabilidade.</strong>
            </li>
            <li>
                <strong>Integridade no trabalho (<i>Work Integrity</i>)</strong>:
                Acredito que quando me confiam com uma tarefa por fazer, é porque confiam em mim e esperam
                que o meu <i>output</i> não venha a desiludir o outro lado. Portanto, esforço-me para entregar
                sempre o que me pedem, com "selo de qualidade" e reconhecimento de qualidade pela minha parte, dentro
                das minhas condições e limitações possíveis (prazos, disponibilidade e competência técnica)
            </li>
            <li><strong>Perfecionismo</strong> (pode também ser visto pela negativa!)</li>
        </ul>
        <br>
        <h3>Pontos fracos:</h3>
        <br>
        <ul id="list-pontos-fracos">
            <li>
                <strong>Perfecionismo</strong> (como referi, conta como ambos!)
            </li>
            <li>
                O facto de me focar tanto com algo que tenho pendente por fazer, acabo por vezes em apenas
                me focar nos fins (resultados), sem olhar aos meios para atingir os objetivos
                (<i><strong>"tunnel-vision"</strong></i> a procurar resultados)
            </li>
            <li>
                Posso-me tornar <strong>bastante teimoso</strong> (quando penso que tenho razão)... 😐
            </li>
        </ul>
        <br>
    </div>
    <!-- Secção sobre idiomas falados -->
    <div class="texto-intro">
        <h2>Competências Linguísticas 🌍</h2>
        <br>
        <ul id="list-idiomas">
            <li>
                <strong>Português</strong> (nativa)
            </li>
            <li>
                <strong>Inglês</strong> (proficiência C2)
            </li>
            <li>
                <strong>Espanhol</strong> (proficiência A2)
            </li>
            <li>
                <strong>Russo</strong> (apenas ler palavras... mas não as entendo 🤣)
            </li>
        </ul>
        <br>
    </div>
{% endblock %}
