{% extends 'portfolio/layout.html' %}

{% block page-title-head %}Rui Joaquim - Portfólio{% endblock %}
{% block page-title-body %}Portfólio{% endblock %}

{% block css-block %}
    <style>
        div > main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block script-block %}
    <!-- <script></script> -->
{% endblock %}

{% block main %}
    <div class="text-aligned-center">
        <p>Olá, {{ greetings }} 👋😀</p>
        <p>Bem-vind@s ao meu portfólio.</p>
    </div>
    <!-- {# load static #} <img src="{# static 'portfolio/images/image.png' #}"> -->
{% endblock %}


<!-- For later... maybe???! If time allows... So... not my top-priority now. Ignore this.
    <div id="div1">
    <h1>Exemplo1</h1>
    </div>
    <div id="div2">
        <h1>Exemplo2</h1>
    </div>
    <div id="div3">
        <h1>Exemplo3</h1>
    </div>
    <button>Click me!</button>
-->
