{% extends 'portfolio/layout.html' %}

{% block page-title-head %}Rui's Portfolio{% endblock %}
{% block page-title-body %}Portfolio{% endblock %}

{% block css-block %}
    <style>
        div > main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
{% endblock %}

{% block script-block %}
    <script>
        /* $(document).ready(function () {
                $("button").click(function () {
                    $("#div1").fadeToggle(1000);
                    $("#div2").fadeIn("slow");
                    $("#div3").fadeIn(3000);
                });
            });
        */
    </script>
{% endblock %}


{% block main %}
    <div class="text-aligned-center">
        <p>Olá, e {{ greetings }} 👋😀</p>
        <p>Bem-vind@s ao meu portfólio.</p>
    </div>
    <!-- {# load static #} <img src="{# static 'portfolio/images/image.png' #}"> -->
{% endblock %}


<!-- For later... maybe???! If time allows... So... not my top-priority now. Ignore this.
    <div id="div1">
    <h1>Exemplo1</h1>
    </div>
    <div id="div2">
        <h1>Exemplo2</h1>
    </div>
    <div id="div3">
        <h1>Exemplo3</h1>
    </div>
    <button>Click me!</button>
-->
