{% extends 'portfolio/layout.html' %}

{% block page-title-head %}Licenciatura{% endblock %}
{% block page-title-body %}Licenciatura{% endblock %}

{% block css-block %}
    <style>
        #section-licenciatura {
            display: flex;
            flex-flow: column wrap;
        }

        #section-licenciatura h1[id^=caixa-ano] {
            color: black;
            text-align: center;
            border: 1px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .container-lista {
            background-color: rgba(255, 255, 255, 40%);
            border: 1px solid black;
            border-radius: 10px;
        }

        #caixa-ano-1 {
            background-color: rgb(153, 204, 255);
        }

        #caixa-ano-2 {
            background-color: rgb(171, 255, 190);
        }

        #caixa-ano-3 {
            background-color: rgb(255, 127, 127);
        }

        /* Afecta apenas as caixas que indicam "1º Semestre" / "2º Semestre" */
        #section-licenciatura h2[id^=ano] {
            text-align: center;
            text-decoration: underline;
            border: 1px solid black;
            background-color: white;
            opacity: 0.60;
        }
    </style>
{% endblock %}

{% block script-block %}
    {% load static %}
    <script>
        $(document).ready(function () {
            /* Esconder elementos ao clicar na categoria em si */
            // *** ano1 ***
            $("#caixa-ano-1").click(() => $("#ano-1-content").fadeToggle(300));
            $("#ano-1-semestre-1").click(() => $("#ano-1-semestre-1-content").fadeToggle(300));
            $("#ano-1-semestre-2").click(() => $("#ano-1-semestre-2-content").fadeToggle(300));
            // *** ano2 ***
            $("#caixa-ano-2").click(() => $("#ano-2-content").fadeToggle(300));
            $("#ano-2-semestre-1").click(() => $("#ano-2-semestre-1-content").fadeToggle(300));
            $("#ano-2-semestre-2").click(() => $("#ano-2-semestre-2-content").fadeToggle(300));
            // *** ano3 ***
            $("#caixa-ano-3").click(() => $("#ano-3-content").fadeToggle(300));
            $("#ano-3-semestre-1").click(() => $("#ano-3-semestre-1-content").fadeToggle(300));
            $("#ano-3-semestre-2").click(() => $("#ano-3-semestre-2-content").fadeToggle(300));
        });
    </script>
{% endblock %}

<!-- TODO
      > Lista de projetos (construir classe Projeto)
      > E, se o tempo permitir, considerar 2 CBs que, ao selecionar, em Javascript filtra por Semestre/Ano
      (uma alternativa já foi feita em Jquery, para expandir/colapsar as subcategorias)
-->

<!-- ::: INFO SOBRE A PÁGINA :::
     > Listagem das Unidades Curriculares (inspirado em: https://codepen.io/LucioStuder/pen/MWrKXdy. Obrigado!)
     > Contém os campos:
         [nome], [ano], [semestre], [ECTS], [ano letivo], [topicos], [ranking],
         [professores], [link página cadeira], [lista de projetos].
         *** BÓNUS *** => Inclui um campo adicional, que indica se já realizei a cadeira
-->

{% block main %}
    <section>
        <!-- TODO :: texto de introducao -->
    </section>

    <section id="section-licenciatura">
        <div class="container-lista">
            <h1 id="caixa-ano-1">1º Ano</h1>
            <div id="ano-1-content">
                <h2 id="ano-1-semestre-1">1º Semestre</h2>
                <div id="ano-1-semestre-1-content">
                    {% for cadeiraA1S1 in a1s1 %}
                        {% include 'portfolio/helpers/card_unidade_curricular.html' with unidCurricular=cadeiraA1S1 %}
                    {% endfor %}
                </div>
                <hr>
                <h2 id="ano-1-semestre-2">2º Semestre</h2>
                <div id="ano-1-semestre-2-content">
                    {% for cadeiraA1S2 in a1s2 %}
                        {% include 'portfolio/helpers/card_unidade_curricular.html' with unidCurricular=cadeiraA1S2 %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container-lista">
            <h1 id="caixa-ano-2">2º Ano</h1>
            <div id="ano-2-content">
                <h2 id="ano-2-semestre-1">1º Semestre</h2>
                <div id="ano-2-semestre-1-content">
                    {% for cadeiraA2S1 in a2s1 %}
                        {% include 'portfolio/helpers/card_unidade_curricular.html' with unidCurricular=cadeiraA2S1 %}
                    {% endfor %}
                </div>
                <hr>
                <h2 id="ano-2-semestre-2">2º Semestre</h2>
                <div id="ano-2-semestre-2-content">
                    {% for cadeiraA2S2 in a2s2 %}
                        {% include 'portfolio/helpers/card_unidade_curricular.html' with unidCurricular=cadeiraA2S2 %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container-lista">
            <h1 id="caixa-ano-3">3º Ano</h1>
            <div id="ano-3-content">
                <h2 id="ano-3-semestre-1">1º Semestre</h2>
                <div id="ano-3-semestre-1-content">
                    {% for cadeiraA3S1 in a3s1 %}
                        {% include 'portfolio/helpers/card_unidade_curricular.html' with unidCurricular=cadeiraA3S1 %}
                    {% endfor %}
                </div>
                <hr>
                <h2 id="ano-3-semestre-2">2º Semestre</h2>
                <div id="ano-3-semestre-2-content">
                    {% for cadeiraA3S2 in a3s2 %}
                        {% include 'portfolio/helpers/card_unidade_curricular.html' with unidCurricular=cadeiraA3S2 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- TODO :: Parte administrativa ?? Confirmar! -->
    </section>
{% endblock %}
