/* Classes CSS de base, tomando por inspiração os exemplos
   fornecidos pelos docentes no enunciado do Lab8 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
    background: white;
    top: 0;
    border: 1px solid black;

    /* alinhar items da barra do header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
    header div {
        font-size: 2em;
        padding: 1em;
    }
*/

header nav {
    display: flex;
    justify-content: flex-end;
}


nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
}

main {
    height: 85vh;
    background-color: grey;
    padding: 4em 4em;
}

footer {
    border: 1px solid black;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    padding: 0 2vw;
    align-items: center;
}

/* CONFIGURACOES ESPECIFICAS */

#page-title {
    /* coloca o titulo um pouco mais à frente, para nao ficar totalmente encostado à esquerda */
    margin-left: 5vw;
}

