/* Classes CSS a usar no projeto.
    Tomei a liberdade de usar como inspiração e como base os exemplos fornecidos pelos docentes no enunciado do Lab8,
    por ter considerado interessante e por ter a aplicação de boas práticas em CSS.
*/


/*
 ======= REMOVIDOS =======
    header div {
        font-size: 2em;
        padding: 1em;
    }

 =========================
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* CONFIGURAÇÃO CSS GRID NA PÁGINA */
.grid-container {
    /* colocar o container da grid a ocupar a totalidade da viewport (contem toda a página em si) */
    width: 100vw;
    height: 100vh;

    /* configurar CSS grid */
    display: grid;
    grid-template-rows: 10vh 3fr 5vh;
    grid-template-columns: auto auto auto;
    grid-template-areas: 'headerGrid headerGrid headerGrid'
                         'mainGrid mainGrid mainGrid'
                         'footerGrid footerGrid footerGrid';
    /*
    grid-gap: 10px;
    padding: 10px;
    */
}

.layout-header {
    grid-area: headerGrid;
}

.layout-main {
    grid-area: mainGrid;
}

.layout-footer {
    grid-area: footerGrid;
}

/* ******************************* */

header {
    background: white;
    top: 0;
    border: 1px solid black;

    /* alinhar items da barra do header */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
}

main {
    background-color: silver;
    padding: 4em 4em;
}

footer {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    padding: 0 2vw;
    align-items: center;
}

/* CONFIGURACOES ESPECIFICAS */

#page-title {
    /* coloca o titulo um pouco mais à frente, para nao ficar totalmente encostado à esquerda */
    margin-left: 5vw;
}

.text-aligned-center {
    /* estilização do tipo de letra */
    font-size: 4em;
    color: black;
    /* alinhar ao centro */
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: center;
}
