{% extends 'portfolio/layout.html' %}

{% block page-title-head %}Editar Projeto{% endblock %}
{% block page-title-body %}Editar Projeto{% endblock %}

{% block css-block %}
    <style>
        /* Configurações para o formulário de edição */
        #seccao-editar-projeto {
            border: 2px solid black;
            padding: 1vw 1vh;
            max-width: 40vw;
            margin: 0 auto;
        }

        #seccao-editar-projeto h1 {
            font-size: 2.0em;
            text-align: center;
        }

        .form-buttons {
            display: flex;
            justify-content: end;
            gap: 5%;
        }
    </style>
{% endblock %}

{% block script-block %}
{% endblock %}

<!-- ::: INFO SOBRE A PÁGINA :::
     > Fornece formulário para editar um Projeto.
-->

{% block main %}
    <!-- BLOCO COM BOTOES PARA EDITAR/ELIMINAR O PROJETO -->
    <hr>
    <br>
    <section id="seccao-editar-projeto">
        <h1>Alterar dados do Projeto</h1>
        <hr>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <br>
            <div class="form-buttons">
                <a id="btnCancelar" href="{% url 'portfolio:ver-projeto' projeto_id %}">Cancelar</a>
                <input class="btnSubmeterForm" type="submit" value="Gravar alterações">
            </div>
        </form>
    </section>
{% endblock %}



